.form-popup {
    display: none; /* Hidden by default */
}

body {
    display: flex;
    justify-content: center;
}

.content-container {
    border: 1px solid blue;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    height: 100vh;
    width: 50vw;
}

.content-container h1 {
    padding-left: 40px;
}

.card-container {
    display: grid;
    margin: 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    grid-gap: 20px;
}

.card {
    border : 1px solid red;
}